body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.title-area {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
}

.listbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  border: 1px solid black;
  width: 333px;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  align-items: center;
}
.description p {
  text-align: center;
  width: 100%;
}
.product-name a {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
  margin-left: 15%;
  width: 65vw;
  text-align: left;
}

form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 1em;
  width: 100%;
}

form select {
  width: 30em;
}

form button:disabled {
  background-color: #ccc;
}
form button:disabled:hover {
  background-color: #ccc;
}

/* Messages */
.error {
  padding: 1em 2em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: red;
  color: white;
  margin-top: 1em;
}

.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: orange;
  color: white;
  margin-left: 1em;
}

/* Buttons */

.back-btn {
  background: #30cdff;
  border: 0;
  color: white;
  margin: 10px;
  margin-left: 20px;
  padding: 10px;
  font-size: 0.75em;
}

.back-btn:hover {
  background: #4283aa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}
